.have div {
    width: 200px;
    height: 200px;
}
.red {
    background-color: red;
    position: relative;
    left: 233px;
    top: 201px;
}

.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}