#navbar {
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    }

#menu {
    @media (min-width: 768px)   {
    display: none;
    }
    color: white;   
 }
    
#content {
    background-color: white;
}